{% extends "template.html" %}
{% block content %}
<p>This server is running the global simulation result cache for the nastja-cache client.</p>
<p>
    You can connect to postgresql db directly (read-only). Write access
    is only possible via nastja-cache CLI or the server API.
</p>
<h2>CLI Usage:</h2>
<pre>
usage: n-cache [-h] [--nastja-cache-url NASTJA_CACHE_URL] {repo,cluster,runner}

Maintainer: David &lt;kit@david-wilkening.de&gt;

positional arguments:
  {repo,cluster,runner}

optional arguments:
  -h, --help         show this help message and exit
  --nastja-cache-url NASTJA_CACHE_URL
                     Base URL of global cache. Defaults to NASTJA_CACHE_URL=

usage: n-cache repo [-h] [--db-conn DB_CONN] [--skip-download] [--skip-upload]
                    [--skip-simulation] config overrides

positional arguments:
  config             Base config file
  overrides          Description of alterations to base config

optional arguments:
  -h, --help         show this help message and exit
  --db-conn DB_CONN  DB connection string. Defaults to
                     "sqlite+pysqlite:///local_repo.db"
  --skip-download    Skip downloading simulations from global repository
  --skip-upload      Skip uploading simulations to global repository
  --skip-simulation  Do not execute NAStJA locally

usage: n-cache cluster [-h] [--db-conn DB_CONN] config overrides

positional arguments:
  config             Base config file
  overrides          Description of alterations to base config

optional arguments:
  -h, --help         show this help message and exit
  --db-conn DB_CONN  DB connection string. Defaults to
                     "sqlite+pysqlite:///local_repo.db"

usage: n-cache runner [-h]

optional arguments:
  -h, --help  show this help message and exit
</pre>
{% endblock %}