{% extends "template.html" %}
{% block content %}

<h2>Jobs in progress</h2>
<ul>
    {% for job in in_progress %}
    <li><a href="/jobs/{{ job.id }}">{{ job.id }}</a></li>
    {% endfor %}
</ul>
<h2>Recently finished (72h)</h2>
<ul>
    {% for job in recent %}
    <li><a href="/jobs/{{ job.id }}">{{ job.id }}</a></li>
    {% endfor %}
</ul>

{% endblock %}