{% extends "template.html" %}
{% block content %}

<h2>Job ID {{ job.id }}</h2>
<p>Created: {{ job.created }}</p>
{% if job.finished is none %}
<p>Status: not finished</p>
<p>
    You can finish this job by uploading the corresponding simulation ids into the remote repo or by
    spawning a runner on your local machine or hpc system.
</p>
{% else %}
<p>Status: finished at {{ job.finished }}</p>
{% endif %}

<h2>Simulations associated</h2>
<h3>Remaining</h3>
<p>{% for s in remaining %}<a href="/simulations/{{ s.config_id }}">{{ s.config_id }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>
<h3>Available</h3>
<p>{% for s in available %}<a href="/simulations/{{ s.config_id }}">{{ s.config_id }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>


{% endblock %}