<!DOCTYPE html>
<html lang="en">

<head>
    <title>NAStJA Cache</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="title">
        <h1><a style="text-decoration: none;" href="/">NAStJA Cache</a></h1>
        <span>
            <a href="/jobs">Simulation Jobs</a>
            <a href="/pgadmin">DB interface</a>
            Extern:
            <a href="https://gitlab.com/nastja">GitLab</a>
            <a href="https://nastja.gitlab.io/">NAStJA</a>
        </span>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>
