@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
    background-color: #2a3137;
}
body {
    margin: 0;
}
* {
    font-family: 'Lato', sans-serif;
    color: #ddd;
}
h1, a {
    color: #88a900;
}
#title {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.27);
    padding: 20px;
}
#title > h1 {
    margin: 0;
}
.content {
    margin: auto;
    max-width: 800px;
    padding: 10px;
}
pre {
    background-color: rgba(0, 0, 0, 0.27);
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
}